SMTP_USER=web_com2005@yahoo.co.in
SMTP_PASS=appassword
EMAIL_TO=web.com2006@gmail.com
PORT=3001

# yahoo setup:
# 1. Enable 2FA on Yahoo account
# 2. https://login.yahoo.com/myaccount/security?scrumb=zYfE8ButL3D
# 3. Generate app password for "Mail"
# 4. Copy 16-char password here (no spaces)

